@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=VT323&display=swap');

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;

    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(-45deg, #ee7752, #26926e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

#linktreeContainer {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: white;
    padding: 30px;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }

#profilePicture {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#title {
    margin: 30px;
    margin-bottom: 10px;
    font-size: 72px;
}

.spacer{
    width: 100%;
    height: 1px;
    border-bottom: solid black 1px;
}

#buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
    height: 50px;
    border-radius: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.linkContainer:hover {
    color: #fff;
    background-color: #000;
}

.icon {
    width: 50px;
    border-radius: 100%;
}

.linkText {
    font-size: 32px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 600px) {
    body, html {
        display: block;
        background: none;
        padding: 0;
        margin: 0;
    }

    #linktreeContainer {
        width: 100%;
        min-height: 100%;
        background-color: white;
        padding: 30px 0 30px 0;
    }

    .linkContainer {
        width: 100%;
    }

    #buttons {
        padding-bottom: 60px;
        width: max-content;
    }
    #title {
        font-size: 48px;
    }
    #profilePicture {
        width: 200px;
        height: 200px;
    }
    
  }